.flex-container {
    margin-top: 250px;
    display: flex;
    background-color: grey;
    color: navy;
    flex-direction: row;
    justify-content: center;
    border-style: dashed;
    border: 25px rgb(225, 11, 11)
}

.box {
    margin-right: 25px;
}

/* Large heading on the left of the form */
h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding-right: 90px;
}

h2 {
    text-align: center;
    padding: 0px;
}